# Base de données
DATABASE_URL="postgresql://user:password@localhost:5432/educam"

# Auth
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Email (Resend)
RESEND_API_KEY=""
FROM_EMAIL="noreply@educam.cm"

# Stockage fichiers
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""

# Paiements Mobile Money
ORANGE_MONEY_API_KEY=""
ORANGE_MONEY_MERCHANT_ID=""
MTN_MOMO_API_KEY=""
MTN_MOMO_SUBSCRIPTION_KEY=""
MTN_MOMO_TARGET_ENVIRONMENT="sandbox"

# Super Admin
SUPERADMIN_EMAIL="admin@educam.cm"
